
#form{
    grid-column: 2/4;
    padding: 1em;
    text-align: center;
    background-color: #2D89DB ;
}
#txt{
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}
article{
    background-color: #2D89DB ;
}
fieldset{
    border-radius: 10px;
    background-color: white;
}

iframe{
    margin-top: 1%;
    width: 100%;
}
form>fieldset>div{
    padding: 0.5em 1em;
}
article>h1{
    color: white;
    font-size: 2em;
}
.input{
    background-color: rgb(219, 219, 219);
    display: block;
    width: 90%;
    font-size: 16px;
    padding: 0.2em;
    margin: auto;
    border-radius: 5px;
    border: none;
}
.btn{   
    display: block;
   margin: 1em auto;
   padding: 0.8em;
   border: #2D89DB solid 2px;
   background-color: #ffffff;
   color: #2D89DB;
}
.btn:hover{
    border: #2D89DB solid 2px;
    background-color: #2D89DB;
    color: #ffffff;
}
