@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
header ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    list-style: none;
    padding: 1em;
    text-align: center;

}
header ul li a{
    color: #F12400;
    text-decoration: none;
   
}
header ul li:hover {
    background-color: #505050;
    transition: 1.2s;
    color: #ffffff;
}
header ul li:hover a{
    color: white;
} 
#nav{
    width: 70%;
    height: fit-content;
}
#icon{
    width: 30%;
    height: fit-content;
}
#btnmenu{
    display: none;
}
#lbMenu{
    font-size: 2em;
    position: absolute;
    top: 1%;
    left: 1%;
    display: none;
}
#icon{
    display: flex;
    font-size: 2em;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}
#icon>h3{
    font-family: 'Nothing You Could Do', cursive;
    width: 100%;
    font-size: .5em;
    margin-left: 1%;
}


/*footer*/
footer{
    border-top: solid #505050 1px;
    text-align: center;
    padding: 1em;
    font-family:'Nothing You Could Do', cursive ;
}
.redesSociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.redesSociales ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.redesSociales ul li{
    padding: 1em;
}
.redesSociales ul li a{
    color: black;
}

/*Clases*/
.titulo-1{
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
}

.titulo-2{
    color: #2d89db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.titulo-3{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.margin-2{
    margin: 2em;
}

.padding-2{
    padding: 2em;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-1{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.parrafo-1{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-bold{
    font-weight: bold;
}

.cita-1{
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    box-sizing: border-box;
}

/*Responisve*/

/*header*/
@media(max-width: 900px){
    header{
        flex-direction: column;
        align-items: center;
    }
    header ul{
        justify-content: center;
    }

    .row-3, .row-2{
        display: flex;
        flex-direction: column;
    }

    .video-1{
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media(max-width: 700px){
    #lbMenu{
        
        display: block;
        transition: 1s;
    }
    header ul{
        display: inline;
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
        margin-left: -100%;
        transition: 1s;
    }
    #btnmenu:checked~#menu{
        margin-left: 0;
    }
}